body{
    position: relative;
    margin: 0px;
    padding: 0px;
}

.header .item-header1 .ft1:hover{
    cursor: pointer;
    color: #03ac0e;
}

.header .item-header1 .ft2 .tp-1:hover{
    cursor: pointer;
    color: #03ac0e;
}

.tp-1{
    margin-right: 27px;
    color: #929292;
}

/* Header 2 */

.header2{
    color: #0000008A;
}

.header2 .item-header2 {
    display: flex;
    align-items: center;
}

.img-tokped{
    height: 40px;
    margin: 10px 40px 10px 30px;
}

.item-header2 li{
    list-style-type: none;
    color: #080808;
    font: 14px;
    font-family: sans-serif;
}

<<<<<<< HEAD
.search-tp{
    
}

.lol{
    color: red;
}
=======

>>>>>>> b411f9c66200b124ef52a7c7e7fc547e013bf260
